# dependencies
node_modules

# next.js
.next
out

# environment
.env
.env.local
.env.*.local
!.env.example

# system
.DS_Store
Thumbs.db

# logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# typescript
tsconfig.tsbuildinfo

# build
dist
build

# project artifacts
_project/

# IDE
.vscode
.idea

# misc
coverage

_project/.DS_Store
_data/raw
